.emoji {
  color: red;
}

.card {
  flex: 1 0 auto;
  height: auto;
}

.d-flex {
  display: flex;
}

ion-content {
  --background: #fafafa;
}

ion-modal {
  --height: 75% !important;
}

ion-modal .modal-wrapper {
  margin-top: auto;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

ion-modal .modal-wrapper .ion-page {
  padding: 1rem;
}

ion-tab-bar {
  border: 0;
  padding: 1rem 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  --background: var(--ion-color-primary);
}

.font-bold {
  font-weight: bold;
}

.font-lighter {
  font-weight: 300;
}

.py-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

.inline-scroll {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: scroll;
}
