.ion-color-baltic-sea {
  --ion-color-base: var(--ion-color-baltic-sea);
  --ion-color-base-rgb: var(--ion-color-baltic-sea-rgb);
  --ion-color-contrast: var(--ion-color-baltic-sea-contrast);
  --ion-color-contrast-rgb: var(--ion-color-baltic-sea-contrast-rgb);
  --ion-color-shade: var(--ion-color-baltic-sea-shade);
  --ion-color-tint: var(--ion-color-baltic-sea-tint);
}

.ion-color-cabaret {
  --ion-color-base: var(--ion-color-cabaret);
  --ion-color-base-rgb: var(--ion-color-cabaret-rgb);
  --ion-color-contrast: var(--ion-color-cabaret-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cabaret-contrast-rgb);
  --ion-color-shade: var(--ion-color-cabaret-shade);
  --ion-color-tint: var(--ion-color-cabaret-tint);
}

.ion-color-light-red {
  --ion-color-base: var(--ion-color-light-red);
  --ion-color-base-rgb: var(--ion-color-light-red-rgb);
  --ion-color-contrast: var(--ion-color-light-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-red-shade);
  --ion-color-tint: var(--ion-color-light-red-tint);
}

.ion-color-seashell {
  --ion-color-base: var(--ion-color-seashell);
  --ion-color-base-rgb: var(--ion-color-seashell-rgb);
  --ion-color-contrast: var(--ion-color-seashell-contrast);
  --ion-color-contrast-rgb: var(--ion-color-seashell-contrast-rgb);
  --ion-color-shade: var(--ion-color-seashell-shade);
  --ion-color-tint: var(--ion-color-seashell-tint);
}
