.outworld ion-content {
  --background: linear-gradient(45deg, var(--ion-color-seashell), #ffffff);

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent;
    background: transparent;
  }
}
