.button-native {
  padding: 10px;
}

.icon-card {
  display: inline-flex;
  flex-direction: column;
}

.icon-card ion-button {
  width: 4.5rem;
  height: 4.5rem;
}

ion-text.subtitle {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  display: inline-block;
}
